<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home | Arif Travel Agency</title>
<link th:href="@{/bootstrap4/bootstrap.css}" rel="stylesheet" />
</head>
<body data-new-gr-c-s-check-loaded="14.1018.0" data-gr-ext-installed="">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="#" th:href="@{/}">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="navbar-brand" href="#"
					th:href="@{/registration/create}">Sign Up</a></li>
			</ul>
			<ul class="my-2 my-lg-0" sec:authorize="!isAuthenticated()">
				<li class="nav-item"><a class="navbar-brand" href="#"
					th:href="@{/login}">Login</a></li>
			</ul>
			<ul class="my-2 my-lg-0" sec:authorize="isAuthenticated()">
				<li class="nav-item"><a class="navbar-brand" href="#"
					th:href="@{/user/home}">User Profile</a></li>
			</ul>
			<ul class="my-2 my-lg-0" sec:authorize="isAuthenticated()">
				<li class="nav-item"><a class="navbar-brand" href="#"
					th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>
	<main role="main">
		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="container">
				<h3 th:text="'Welcome '+${currentUser.fullName}"></h3>
				<p>What's on your mind, post now !</p>
			</div>
			<div class="row">
				<div class="col-md-12">
					<a class="btn btn-md btn-info pull-right" href="/status/create"
						role="button">Post Status</a>
				</div>
			</div>
		</div>
		<div class="container">
			<table class="table">
				<tr>
					<th>Status Body</th>
					<th>Privacy</th>
					<th>Action</th>
				</tr>
				<tr th:each="statusObj : ${userStatusList}">
					<td th:text="${statusObj.statusBody}"></td>
					<td th:text="${statusObj.privacyType==0} ? 'Public' : 'Private'"></td>
					<td><a th:href="@{/status/view/{id}(id=${statusObj.id})}">View</a>
						| <a th:href="@{/status/edit/{id}(id=${statusObj.id})}">Edit</a> |
						<a th:href="@{/status/delete/{id}(id=${statusObj.id})}">Delete</a></td>
				</tr>
			</table>
		</div>
</body>
</html>