<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home | Arif Travel Agency</title>
<link th:href="@{/bootstrap4/bootstrap.css}" rel="stylesheet" />
</head>
<body data-new-gr-c-s-check-loaded="14.1018.0" data-gr-ext-installed="">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="#" th:href="@{/}">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="navbar-brand" href="#"
					th:href="@{/registration/create}">Sign Up</a></li>
			</ul>
			<ul class="my-2 my-lg-0" sec:authorize="!isAuthenticated()">
				<li class="nav-item"><a class="navbar-brand" href="#"
					th:href="@{/login}">Login</a></li>
			</ul>
			<ul class="my-2 my-lg-0" sec:authorize="isAuthenticated()">
				<li class="nav-item"><a class="navbar-brand" href="#"
					th:href="@{/user/home}">User Profile</a></li>
			</ul>
			<ul class="my-2 my-lg-0" sec:authorize="isAuthenticated()">
				<li class="nav-item"><a class="navbar-brand" href="#"
					th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>
	<main role="main">
		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="container">
				<h2>Post a Status</h2>
				<a class="btn btn-lg btn-primary" href="/" role="button">Home
					&raquo;</a>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body" th:object="${statusObj}">
							<h5 class="card-title">Status</h5>
							<p class="card-text" th:text="${statusObj.statusBody}"></p>
							<div>
								<input type="radio" th:field="*{privacyType}" th:value="0">
								<label th:for="${#ids.prev('privacyType')}">Public</label>
							</div>
							<div>
								<input type="radio" th:field="*{privacyType}" th:value="1">
								<label th:for="${#ids.prev('privacyType')}">Private</label>
							</div>
							<a href="#" class="btn btn-primary" th:href="@{/user/home}">Back</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /container -->
	</main>
</body>
</html>